
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

}
body {
  color: white;
  background-color: #ac9e9e;
  
  justify-content: center;
  align-items: center;
  text-align: center;
}

.roll{
  cursor: pointer;
  appearance: none;
  color: #fff;
  background-color: #1E2B36;
  text-decoration: none;
  font-size: 3rem;
  font-family: fontFamily;
  font-weight: 900;
  border: 5px solid rgb(0, 0, 0);
  padding: .5em 2em;
  border-radius: 12px;
  transition: 200ms ease-in-out;
  align-items: center;
  justify-content: center;
  text-align: center;
}

  button:hover {
    background-color: white;
    color: #253241;
  }

.names {
  font-size: 2.5rem
}

.winner {
  font-size: 4rem;
  text-align: center;
}
  .span{
    font-size: .35em;
    font-weight: 500;
}
.roll-again{
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  font-family: fontFamily;
  font-weight: 700;
  padding: 0;
  margin-top: 2em;
  color: white;
  border: none;
  opacity: .5;
  transition: 200ms ease-in-out;
}

  .roll-again:hover {
    opacity: 3;
  }

.hide {
  display: none;
}
.dropbtn {
  background-color: #ffffff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #cedaec;}
img {
  width: 3%;
  height:	5%;
  }
